.urbanist-light {
  font-family: "Urbanist", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.urbanist-regular {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.urbanist-bold {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.urbanist-extrabold {
  font-family: "Urbanist", sans-serif;
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: "Urbanist", sans-serif;
}
