@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@theme {
  --color-primary: #092149;
  --color-secondary: #19488e;
  --color-accent: #97b2de;
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-DM: "DM Sans", sans-serif;
  --font-instrument: "Instrument Sans", sans-serif;
}
body {
  font-family: "Inter", sans-serif;
}
@layer base {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (min-width: 600px) {
    .container {
      max-width: 600px;
    }
  }
  @media (min-width: 728px) {
    .container {
      max-width: 728px;
    }
  }
  @media (min-width: 984px) {
    .container {
      max-width: 984px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
  @media (min-width: 1380px) {
    .container {
      max-width: 1380px;
    }
  }
}
